.header(ng-controller='NavbarCtrl')
  ul.nav.nav-pills.pull-right
    li.nav-text
      | {{'hi' | translate}} {{ getCurrentUser().name }}
    li
      a(href='', ng-click='logout()')
        i.fa.fa-sign-out
  h3.text-muted(translate='') transactionalMailing
