div(ng-include='"components/navbar/navbar.html"')
div(ng-include="'components/notifications/notifications.html'")
form
  .form-group
    label(for='fromInput') From
    input#fromInput.form-control(type='email', ng-model='template.content.from', placeholder='Email')
  .form-group
    label(for='subjectInput') Subject
    input#subjectInput.form-control(type='text', ng-model='template.content.subject', placeholder='Subject')
  .form-group
    label(for='bodyInput') Body
    textarea#bodyInput.form-control(type='text', ng-model='template.content.body')
  button.btn.btn-primary(type='submit', ng-click='save()', ng-disabled='savingTemplate') Save
