div(ng-include='"components/navbar/navbar.html"')
div(ng-include="'components/notifications/notifications.html'")
form
  .checkbox
    label(ng-switch='template.enabled')
      input(type='checkbox', ng-model='template.enabled')
      span.h4(translate='') enabled
      i.fa.fa-play(ng-switch-when='true')
      i.fa.fa-stop(ng-switch-when='false')
  .form-group
    label(for='fromNameInput', translate='') fromName
    input#fromNameInput.form-control(type='text', ng-model='template.content.from.name', placeholder="{{'name' | translate}}")
  .form-group
    label(for='fromEmailInput', translate='') fromEmail
    input#fromEmailInput.form-control(type='email', ng-model='template.content.from.email', placeholder="{{'email' | translate}}")
  .form-group
    label(for='subjectInput', translate='') subject
    input#subjectInput.form-control(type='text', ng-model='template.content.subject', placeholder="{{'subject' | translate}}")
  .form-group
    label(for='bodyInput', translate='') body
    textarea#bodyInput.form-control(type='text', ng-model='template.content.body')
  button.btn.btn-primary(type='submit', ng-click='save()', ng-disabled='savingTemplate', translate='') save
  button.btn.btn-default.test-btn(type='submit', ng-if='template._id', ng-click='test()', ng-disabled='savingTemplate', translate='') Test
