div(ng-include='"components/navbar/navbar.html"')
div(ng-include="'components/notifications/notifications.html'")
form
  .form-group
    label(for='fromInput', translate='') from
    input#fromInput.form-control(type='email', ng-model='template.content.from', placeholder="{{'email' | translate}}")
  .form-group
    label(for='subjectInput', translate='') subject
    input#subjectInput.form-control(type='text', ng-model='template.content.subject', placeholder="{{'subject' | translate}}")
  .form-group
    label(for='bodyInput', translate='') body
    textarea#bodyInput.form-control(type='text', ng-model='template.content.body')
  button.btn.btn-primary(type='submit', ng-click='save()', ng-disabled='savingTemplate', translate='') save
